<form action="/createClient">
    <input type="text" name="clientName" value="">
    <button type="submit">Create Client</button>
</form>



<select>
    customers.forEach(cusotmer => {
        <% <option>  =>

    })
</select>