<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='styles/base.css' rel='stylesheet' type='text/css'>
  <title>Document</title>
</head>
<body>
        <h3><%= client  %> </h3>
        <form action="/library/project-details" method="POST">
             <input type="hidden" name="client" value="<%= client %>" />
        <% project.forEach(item => { %>
            <button type=submit name="project" value="<%= item %>"><%= item %></button>
        <% }) %> 
        </form>
</body>
</html>