<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Details</title>
</head>
<body>
    <%-include("../partials/render-image-details", { picture }) %> 
</body>
</html>