<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Photo App</title>
    <link href='styles/base.css' rel='stylesheet' type='text/css'>
</head>
<body>

  <%- include('../layouts/header.ejs') %>
  <div id='hero-image'>
    <div id='hero-text'>
      <form action="/search" method="POST">
        <input type='text' name='searchQuery' placeholder='search for an image'>
        <button type="submit">SEARCH</button>
      </form>
    </div>
  </div>

  <div id='features-section'>
    <h2>Features Section</h2>
    <article id='feature-holder'>
      <a href=''><img src='https://via.placeholder.com/200x250/#8080'></a>
      <a href=''><img src='https://via.placeholder.com/200x250/#8080'></a>
      <a href=''><img src='https://via.placeholder.com/200x250/#8080'></a>
      <a href=''><img src='https://via.placeholder.com/200x250/#8080'></a>
    </article>

  <div id='sample-categories'>
    <h2>Sample Categories</h2>
    <article id='category-holder'>
      <a href=''><img src='https://via.placeholder.com/200x250/#8080'></a>
      <a href=''><img src='https://via.placeholder.com/200x250/#8080'></a>
      <a href=''><img src='https://via.placeholder.com/200x250/#8080'></a>
      <a href=''><img src='https://via.placeholder.com/200x250/#8080'></a>
    </article>
  </div>
  <%- include('../layouts/footer.ejs') %>


</body>
</html>