<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Photo App</title>
</head>
<body>
    Some text for proof
    <form action="/search" method="POST">
        <input type="text" name="searchQuery" placeholder="Search something here">
    <button type="submit">CLICK TO GO TO SEARCH PAGE</button>
    </form>
</body>
</html>