<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/styles/base.css' rel='stylesheet' type='text/css'>
    <title>Document</title>
</head>
<body>
  <%- include('../layouts/header.ejs') %>  

  <main id="library-main" class="folder-container">
      <h2> Client List </h2>
      <% customers.forEach(client => {  %>
        <!-- <% if( client !== 'Customer Name Here' || client !== ' ') { %> -->
          <form class="client-list folder-wrapper" action="/library/client-details" method="POST">
              <button class="client-list-button folder-button" type="submit" name="client" value=<%= client %> ><%= client %></button>            
          </form>
          <!-- <% } %> -->
      <% }) %>


  </main>

    <%- include('../layouts/footer.ejs') %>
</body>
</html>
