
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <% customers.forEach(client => {  %>
        <h3><%= client %> </h3>

        <form action="/library/client-details" method="POST">
            <button type="submit" name="client" value=<%= client %> >View Projects</button>            
        </form>


        
    <% }) %>

</body>
</html>

