<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <% customers.forEach(client => {  %>
        <h3><%= client.client_id %> </h3>
        
    <% }) %>



    Client A 
       - Project 1

    Client B 
        - Project 14 
        - Project 20 
    Client C 
        - Project 14 
        - Project 20 
    
</body>
</html>