@import url('/styles/module.css');
@import url('/styles/base.css');
/* main chunks / placement */

/* nav bar  */
ul {
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 16px 50px;
  display: inline-block;
  text-align: center;
  width: 30%;
}

li:hover {
  background-color: #1E4042;
}

li a {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 25px;
  height:100%;
  line-height: 75px;
}

#hero-image{
  background-image: url('/images/web.png');
  background-color: #cccccc;
  height: 325px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#hero-text{
text-align: center;
position: absolute;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
width: 70%;
}

input{
  line-height: 25px;
}

form{
  text-align: center;
}

h2{
  text-align: center;
  font-family: monospace;
  font-size: x-large;
  line-height: 50px;
}

article a{
  display: inline-block;
  width: 40%;
}

footer p{
  color: white;
  line-height: 30px;
  padding: 16px 42px;
}