@import url('/styles/layout.css');
@import url('/styles/module.css');
/* small / specific */

#search-form{
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px;
}

#search-input{
  width: 80%;
  height: 34px;
  border-radius: 20px 0 0 20px;
  border: none;

}

#search-submit{
  width: 17%;
  height: 36px;
  border: none;
  border-radius: 0 20px 20px 0;
}

#search-submit:hover{
  background: lightgray;
}

#features-section{
  width: 100%;
}

#sample-categories img{
  width: 200px;
}

#feature-holder img{
  width: 200px;
}

.searched-word{
  width: 100%;

}

#image-detail-main{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

#picture-thumbnail{
  width: 60%;
}

#picture-name{
  width:100%;
}

#picture-author{
  width:100%;
}

#download-link{
  width:100%;
}

.searched-images{
  display: flex;
  width: 40%;
  min-height: 200px;
  align-items: center;
  justify-content: space-evenly;
}

#imageDetailsButton{
  width: 100%;
  align-items: center;
  border: none;
  background: none;
}